@page "/bookmark"
@inherits BookMarkBase
@attribute [Authorize(Roles = "DefaultUser")]


<MudGrid Justify="Justify.Center" Class="mt-5">
    <MudTabs Class="ml-5" Elevation="2" Rounded="true" Centered="true">
        <MudTabPanel Text="Favorite Notes" Icon="@Icons.Material.Filled.Favorite" IconColor="Color.Error">
            <div class="bookmark-container place-content-center">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
                    @if (isFetched && favoriteNotes.Any())
                    {
                        @foreach (var favoriteNote in favoriteNotes)
                        {
                            <MudCard Class="note-bookmark-card" Style="@($"background-color: {favoriteNote.Color}")" Elevation="5">
                               <div class="flex">
                                    <MudIcon Icon="@Icons.Material.Filled.Favorite" Color="Color.Error"></MudIcon>
                                    <MudText Class="mt-1 ml-4 mr-20" Typo="Typo.caption">@favoriteNote.CreatedAt.ToString("MMM dd, yyyy")</MudText>
                                    <MudIcon @onclick="() => UnmarkNoteAsFavoriteAsync(favoriteNote.NoteId)" Icon="@Icons.Material.Filled.BookmarkRemove" Color="Color.Error"></MudIcon>
                                </div>

                                <MudCardContent Class="note-card-details">
                                    <h6 class="mb-4 font-bold text-2xl text-gray-950">@favoriteNote.Title</h6>
                                    <h6 class="text-sm">@favoriteNote.Content</h6>
                                </MudCardContent>
                            </MudCard>
                        }
                    }
                    else if (isFetched)
                    {
                        <MudText Class="text-center w-full" Typo="Typo.body1" Color="Color.Secondary">
                            <MudIcon Icon="@Icons.Material.Filled.Info" Class="mr-2" />
                            No favorite notes found.
                        </MudText>
                    }
                </div>
            </div>
        </MudTabPanel>

        <MudTabPanel Text="Important Notes" Icon="@Icons.Material.Filled.NotificationImportant" IconColor="Color.Info">
            <div class="bookmark-container">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
                    @if (isFetched && importantNotes.Any())
                    {
                        @foreach (var importantNote in importantNotes)
                        {
                            <MudCard Class="note-bookmark-card" Style="@($"background-color: {importantNote.Color}")" Elevation="5">
                               <div class="flex">
                                    <MudIcon Icon="@Icons.Material.Filled.NotificationImportant" Color="Color.Info"></MudIcon>
                                    <MudText Class="mt-1 ml-4 mr-20" Typo="Typo.caption">@importantNote.CreatedAt.ToString("MMM dd, yyyy")</MudText>
                                    <MudIcon @onclick="() => UnmarkNoteAsImportantAsync(importantNote.NoteId)" Icon="@Icons.Material.Filled.BookmarkRemove" Color="Color.Error"></MudIcon>
                                </div>

                                <MudCardContent Class="note-card-details">
                                    <h6 class="mb-4 font-bold text-2xl text-gray-950">@importantNote.Title</h6>
                                    <h6 class="text-sm">@importantNote.Content</h6>
                                </MudCardContent>
                            </MudCard>
                        }
                    }
                    else if (isFetched)
                    {
                        <MudText Class="text-center w-full" Typo="Typo.body1" Color="Color.Secondary">
                            <MudIcon Icon="@Icons.Material.Filled.Info" Class="mr-2" />
                            No favorite notes found.
                        </MudText>
                    }
                </div>
            </div>
        </MudTabPanel>

        <MudTabPanel Text="Starred Notes" Icon="@Icons.Material.Filled.Star" IconColor="Color.Warning">
            <div class="bookmark-container">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
                    @if (isFetched && starredNotes.Any())
                    {
                        @foreach (var starredNote in starredNotes)
                        {
                            <MudCard Class="note-bookmark-card" Style="@($"background-color: {starredNote.Color}")" Elevation="5">
                               <div class="flex">
                                    <MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Warning"></MudIcon>
                                    <MudText Class="mt-1 ml-4 mr-20" Typo="Typo.caption">@starredNote.CreatedAt.ToString("MMM dd, yyyy")</MudText>
                                    <MudIcon @onclick="() => UnmarkNoteAsStarredAsync(starredNote.NoteId)" Icon="@Icons.Material.Filled.BookmarkRemove" Color="Color.Error"></MudIcon>
                                </div>

                                <MudCardContent Class="note-card-details">
                                    <h6 class="font-bold text-2xl mb-4 text-gray-950">@starredNote.Title</h6>
                                    <h6 class="text-sm">@starredNote.Content</h6>
                                </MudCardContent>
                            </MudCard>
                        }
                    }
                    else if (isFetched)
                    {
                        <h6 class="text-center w-full text-gray-600">
                            <MudIcon Icon="@Icons.Material.Filled.Info" Class="mr-2" />
                            No starred notes found.
                        </h6>
                    }
                </div>
            </div>
        </MudTabPanel>
    </MudTabs>
</MudGrid>