@page "/home"
@inherits HomeBase
@attribute [Authorize(Roles = "DefaultUser")]

<MudContainer Class="mt-20 ">
    <div class="grid">
        @if (sharedNotesList.Count > 0)
        {
            @foreach (var note in sharedNotesList)
            {
                <MudCard Class="note-comment-card mb-15" Style="@($"background-color: {note.Color}")">
                    <MudCardContent Class="card-details">
                        <div class="flex">
                            <h4 class="font-semibold text-1xl mr-20">@note.FullName</h4>
                            <h4 class="font-semibold text-1xl">@note.CreatedAt</h4>
                        </div>

                        <h5 class="font-bold text-2xl mb-5">@note.Title</h5>
                        <h6 class="font-medium">@note.Content</h6>

                        <div class="mb-10">
                            @if (noteComments.ContainsKey(note.NoteId) && noteComments[note.NoteId].Count > 0)
                            {
                                <ul class="space-y-4 mt-3">
                                    @foreach (var comment in noteComments[note.NoteId])
                                    {
                                        <li class="flex items-start space-x-3">
                                            <div>
                                                <MudText Typo="Typo.h6" Class="font-bold">@comment.FullName</MudText>
                                                <MudText Class="text-sm">@comment.Content</MudText>
                                                <MudText Class="text-xs text-gray-500">@comment.CreatedAt.ToString("MM/dd/yyyy hh:mm tt")</MudText>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>

                        <div class="flex space-x-7 h-8">
                            <MudButton Color="Color.Primary" Variant="Variant.Filled">
                                <MudIcon Class="mr-2" Icon="@Icons.Material.Filled.ThumbUp"></MudIcon> Like
                            </MudButton>

                            <MudButton OnClick="@(() => ToggleCommentsVisibility(note.NoteId))" Color="Color.Primary" Variant="Variant.Filled">
                                <MudIcon Class="mr-2" Icon="@Icons.Material.Filled.Comment"></MudIcon> View Comments
                            </MudButton>

                            <MudButton Color="Color.Primary" Variant="Variant.Filled">
                                <MudIcon Class="mr-2" Icon="@Icons.Material.Filled.OfflineShare"></MudIcon> Share
                            </MudButton>
                        </div>

                        <MudContainer Class="w-full">
                            @if (visibleComments.Contains(note.NoteId))
                            {
                                <div Class="flex">
                                    <MudInput Class="h-8 w-full bg-gray-200 rounded-md" @bind-Value="@newCommentContent" Placeholder="Write a Comment..." Variant="Variant.Outlined">
                                    </MudInput>
                                    <MudIconButton Icon="@Icons.Material.Filled.Send" OnClick="@(() => SendComment(note.NoteId))" Color="Color.Primary" Disabled="string.IsNullOrWhiteSpace(newCommentContent)" />
                                </div>
                            }
                        </MudContainer>
                    </MudCardContent>
                </MudCard>
            }
        }
        else
        {
            <MudText Typo="Typo.h6" Class="text-gray-500">No shared notes available.</MudText>
        }
    </div>
</MudContainer>