@page "/notes"
@inherits NotesBase
@attribute [Authorize(Roles = "DefaultUser")]

<MudLayout Class="mt-10">
    <div class="flex items-center mb-5">
        <h3 class="font-bold text-2xl"> Add Note </h3>
        <MudIconButton OnClick="() => OpenCreateOrUpdateNoteDialogAsync()" Color="Color.Primary" Size="Size.Large" Icon="@Icons.Material.Filled.NoteAdd"> </MudIconButton>
        <MudTextField Class="px-4" @bind-Value="searchQuery" T="string" Variant="Variant.Outlined" Label="Search Notes" />
        <MudIconButton Class="py-4 px-10" Icon="@Icons.Material.Filled.Search" OnClick="() => SearchNotesAsync(searchQuery)" Variant="Variant.Filled" Color="Color.Primary"></MudIconButton>
    </div>

    <div class="grid gap-4 p-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 w-full">
        @if (isFetched && (allNotes.Any() || filteredNotes.Any()))
        {
            @foreach (var note in filteredNotes)
            {
                <MudCard Style="@GetNoteStyle(note)" Class="note-card" Outlined="true" Elevation="5">
                    <MudCardContent Class="note-card-details">
                        <h6 class="font-bold text-gray-950 text-lg mb-2 break-words">@note.Title</h6>
                        <h6 class="text-sm text-gray-600 break-words">@note.Content</h6>
                    </MudCardContent>

                    <MudCardActions Class="flex justify-between items-center px-4 py-3">
                        <MudText Class="text-sm text-white" Typo="Typo.subtitle2">@note.CreatedAt.ToString("MMM dd, yyyy")</MudText>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => OpenCreateOrUpdateNoteDialogAsync(note)">
                            View
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            }
        }
        else if (isFetched)
        {
            <h5 class="text-gray-500">No Notes Found. Click The "Add" Button To Create One</h5>
        }
        else
        {
            <MudProgressCircular Class="mx-auto" Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
        }
    </div>
</MudLayout>