@page "/notes"
@inherits NotesBase
@attribute [Authorize (Roles = "DefaultUser")]

<MudLayout Class="mt-10">
    <div class="flex items-center mb-5">
        <MudIconButton OnClick="() => OpenCreateOrUpdateNoteDialogAsync()" Color="Color.Primary" Size="Size.Large" Icon="@Icons.Material.Filled.NoteAdd"><MudText>Add Note</MudText></MudIconButton>
        <MudTextField Class="px-4" T="string" Variant="Variant.Outlined" Label="Search Notes" />
        <MudButton Class="px-20 py-4" Variant="Variant.Filled" Color="Color.Primary">Search</MudButton>
    </div>

    <div class="notes-container">
        @if (isFetched && notes.Any())
        {
            @foreach (var note in notes)
            {
                <MudCard Class="mud-card" Style="@($"background-color: {note.Color}")" @onclick="() => OpenCreateOrUpdateNoteDialogAsync(note)">
                    <MudCardContent Class="mud-content">
                        <MudText Class="text-center" Typo="Typo.subtitle2">@note.CreatedAt</MudText>
                        <MudText Class="mud-title mb-5" Typo="Typo.h6">@note.Title</MudText>
                        <MudText>@note.Content</MudText>
                    </MudCardContent>
                </MudCard>
            }
        }
        else if (isFetched)
        {
            <h5 class="decoration-gray-500">No Notes Found. Click The "Add" Button To Create One</h5>
        }
        else
        {
            <MudProgressCircular Class="items-center" Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
        }
    </div>
</MudLayout>
