@using YourApp.Client.Securities
@inherits LayoutComponentBase
@attribute [Authorize(Roles = "DefaultUser")]

<MudThemeProvider @bind-IsDarkMode="@themeService.isDarkMode" Theme="themeService.CustomTheme"/>
<MudSnackbarProvider />
<MudDialogProvider />
<MudPopoverProvider />

<MudLayout>
    <MudDrawer @bind-Open="drawerOpen" Anchor="Anchor.Left" Variant="DrawerVariant.Persistent">
        <MudDrawerHeader>
            <h6 class="ml-2 text-2xl font-bold">Blazing Notesu</h6>
        </MudDrawerHeader>

        <MudNavMenu>
            <div class="ml-11">
                <MudNavLink Href="/profile" IconColor="Color.Primary" Icon="@Icons.Material.Filled.Person">
                    <h6 class="text-1xl font-bold">Profile</h6>
                </MudNavLink>

                <MudNavLink Href="/userdashboard" IconColor="Color.Primary" Icon="@Icons.Material.Filled.HomeMax">
                    <h6 class="text-1xl font-bold">Home</h6>
                </MudNavLink>

                <MudNavLink Href="/notes" IconColor="Color.Primary" Icon="@Icons.Material.Filled.Notes">
                    <h6 class="text-1xl font-bold">Notes</h6>
                </MudNavLink>

                <MudNavLink Href="/bookmark" IconColor="Color.Primary" Icon="@Icons.Material.Filled.Bookmark">
                    <h6 class="text-1xl font-bold">Book Mark</h6>
                </MudNavLink>

                <MudNavLink Href="/settings" IconColor="Color.Primary" Icon="@Icons.Material.Filled.Settings">
                    <h6 class="text-1xl font-bold">Settings</h6>
                </MudNavLink>

                <div class="flex ml-1">
                    <MudToggleIconButton @bind-Toggled="@themeService.isDarkMode" Icon="@Icons.Material.Filled.DarkMode" Color="Color.Dark" ToggledIcon="@Icons.Material.Filled.WbSunny" ToggledColor="Color.Inherit" />
                    <h6 class="font-bold text-1xl mt-3">@themeService.GetModeText()</h6>
                </div>

                <MudNavLink Href="/" IconColor="Color.Error" Icon="@Icons.Material.Filled.Logout" OnClick="LogoutAsync">
                    <h6 class="text-1xl font-bold text-red-400">Logout</h6>
                </MudNavLink>
            </div>
            
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent>
        <MudAppBar Elevation="5">
            <MudIconButton Color="Color.Inherit" Icon="@Icons.Material.Filled.Menu" OnClick="ToggleDrawer" />
        </MudAppBar>

        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>