@using YourApp.Client.Securities
@inherits LayoutComponentBase
@attribute [Authorize(Roles = "DefaultUser")]

<MudThemeProvider />
<MudSnackbarProvider />
<MudDialogProvider />
<MudPopoverProvider />

<MudLayout>
    <MudDrawer @bind-Open="drawerOpen" Anchor="Anchor.Left" Variant="DrawerVariant.Persistent">
        <MudDrawerHeader>
            <h6 class="ml-2 text-2xl font-bold">Blazing Notesu</h6>
        </MudDrawerHeader>

        <MudNavMenu>
            <div class="ml-11">
                <MudNavLink Href="/profile" IconColor="Color.Primary" Icon="@Icons.Material.Filled.Person">
                    <h6 class="text-1xl font-bold">Profile</h6>
                </MudNavLink>
                <MudNavLink Href="/userdashboard" IconColor="Color.Primary" Icon="@Icons.Material.Filled.HomeMax">
                    <h6 class="text-1xl font-bold">Home</h6>
                </MudNavLink>
                <MudNavLink Href="/notes" IconColor="Color.Primary" Icon="@Icons.Material.Filled.Notes">
                    <h6 class="text-1xl font-bold">Notes</h6>
                </MudNavLink>
                <MudNavLink Href="/settings" IconColor="Color.Primary" Icon="@Icons.Material.Filled.Settings">
                    <h6 class="text-1xl font-bold">Settings</h6>
                </MudNavLink>
                <MudNavLink Href="/" IconColor="Color.Primary" Icon="@Icons.Material.Filled.Logout" OnClick="LogoutAsync">
                    <h6 class="text-1xl font-bold">Logout</h6>
                </MudNavLink>
            </div>
            
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent>
        <MudAppBar Elevation="5">
            <MudIconButton Color="Color.Inherit" Icon="@Icons.Material.Filled.Menu" OnClick="ToggleDrawer" />
        </MudAppBar>

        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>